.header {
  height: 50px;
  width: 100%;
  background-color: rgb(190, 68, 184);
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  align-items: center;
  color: black;
  font-size: large;
}
.button {
  padding: 7px 15px;
  background-color: transparent;
  cursor: pointer;
  color: black;
  border: none;
  font-weight: 500;
  font-size: 16px;
}
