ul {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.list {
  width: 50%;
  height: 50px;
  border-radius: 5px;
  background-color: #ebebeb;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

.addBtn {
  padding: 7px 15px;
  color: blue;
  margin-top: 50px;
  border: 2px rgb(102, 69, 179);
  font-weight: 500;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}
